<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
	<div class="container">
		<a href="/index.html" class="navbar-brand">
			<img src="/logo.svg" alt="logo" class="d-inline-block align-top" />
		</a>
		<button
			type="button"
			class="navbar-toggler"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Expand Navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a
						href="/index.html"
						class="nav-link active"
						aria-current="page"
						>Home</a
					>
				</li>
				<li class="nav-item">
					<a href="/products.html" class="nav-link">Products</a>
				</li>
				<li class="nav-item">
					<a href="/distributors.html" class="nav-link"
						>Distributors</a
					>
				</li>
				<li class="nav-item">
					<a href="/about.html" class="nav-link">About Us</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<br />
